.top-navigation{
    background-color: #272727;
    color: #cecece;
    padding: 0.75rem 0;
    transition: all 1s;
}

.top-navigation a{
    color: #cecece;
}

.top-navigation a:hover{
    color: #fff;
}

.compressed{
    height: 0;
    padding: 0;
    overflow: hidden;
}

.navbar{background-color: rgba(37, 53, 38, 0.8);}

.nav-link{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-link:hover, .nav-link:focus{color: #90ba92;}

.dropdown-menu{
    background-color: #25221a;
    border-radius: 0;
    padding-bottom: 0;
}

.dropdown-menu[data-bs-popper]{
    top: 3.55rem;
}

.dropdown-item{
    border-bottom: 2px solid #493e2b;
}

.dropdown-item:hover, .dropdown-item:focus{
    background-color: #25221a;
}

.navbar-toggler{
    color: #fff;
    font-size: 1.5rem;
}

.navbar-toggler:focus{
    box-shadow: 0 0 0 0;
}

.no-padding{
    padding-left: 0;
    padding-right: 0;
}

.boasvindas{
    background-image: url(../images/jumbotrom-bg.png);
    background-size: cover;
    background-position: center;
    /* height: 30rem; */
    /* height: 100vh; */
}

.service{
    background-color: #2d2418;
    color: #fff;
    border-top: 1rem solid #3f3221;
    border-bottom: 1rem solid #3f3221;
}

.img-fluid{
    width: 100%;
}

.carousel-indicators [data-bs-target]{
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
}

.carousel-caption{
    bottom: 1.75rem;
}

.reciclagem{
    background-image: url(../images/reciclagem01.jpg);
    background-size: cover;
}

.rodape{
    background-color: #231e18;
    color: #fbfbfb;
}

.obrigatorio:invalid{
    border: 1px solid #b00;
}

.obrigatorio:valid{
    border: 1px solid #0b0;
}

/* Media Queries */
@media (max-width:991px){
    .dropdown-menu, .input-group{
        width: 50%;
    }
}